# Port du serveur
PORT=3000

# URL du front (CORS)
CLIENT_URL=http://localhost:5173

# connection bdd
DB_HOST=127.0.0.1_OR_localhost_FOR_LARAGON
DB_PORT=3306
DB_NAME=NAME_BDD
DB_USER=USERNAME_OR_ROOT_FOR_LARAGON
DB_PASSWORD=PASSWORD