# Port du serveur
PORT=3000

# URL du front (CORS)
CLIENT_URL=http://localhost:5173

# connection bdd
DB_HOST=127.0.0.1_ou_localhost(LARAGON)
DB_PORT=3306
DB_NAME=NOM_DE_LA_BDD
DB_USER=root_si_laragon(LARAGON)
DB_PASSWORD=