.btn {

  width: 100%;
  padding: 10px;
  border: 1px solid var(--tc-navy);
  border-radius: var(--tc-radius);
  background: var(--tc-yellow-madras);
  color: var(--tc-white);
  font-family: var(--tc-font);
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: background-color 0.35s ease, opacity 0.35s ease, border-color 0.35s ease;
}

.btn--primary:hover {
  background: var(--tc-green-madras);
  opacity: 1;
}
