.site-header {
    border-bottom: 3px solid var(--tc-yellow-madras);
    color: var(--tc-yellow-madras);
    padding: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.logo {
    width: 18%;
}