.site-header {
    border-bottom: 3px solid var(--tc-yellow-madras);
    color: var(--tc-yellow-madras);
    padding: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.logo {
    width: 65%;
    max-width: 280px;
    height: auto;
  }
  
  @media (min-width: 675px) {
    .logo {
      width: 18%;
      max-width: none;
    }
  }