.site-header {
    background-color: #2F6B4F;
    color: white;
    padding: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.logo {

    width: 15%;
}